.h-100 {
  height: 100%;
}

.profileInfoKey {
  color: #39a2db;
}
.profileInfoValue {
  color: #053742;
  font-size: 18px;
  font-weight: bold;
}
.profileInfoUnit {
  color: #053742;
  font-size: 12px;
  margin-left: 3px;
}
